@{
    ViewData["Title"] = "CSRF 攻擊";
}

<h1>@ViewData["Title"]</h1>

<form action="CSRFAttack" method="post">
    @Html.AntiForgeryToken()
    <input name="searchString" type="text" name="輸入框">
    <input type="submit" value="送出">
</form>